/netbeans/ex_starts/ch08_ex02/nbproject/private/
/netbeans/ex_starts/ch08_ex02/build/
/netbeans/ex_starts/ch09_ex2_ProductMaintenance/build/
/netbeans/ex_starts/ch15_ex1_FutureValue/build/
/netbeans/ex_starts/ch15_ex2_Invoice/build/
/netbeans/ex_starts/ch15_ex2_Invoice/dist/
/netbeans/ex_starts/ch16_ex2_PizzaOrder/build/